@media screen and (max-width: 360px) {
    #btn-forgot{
          float:right;
          width: auto;
    }
    #text-sesion {
        font-weight: bold;
    }
    label {
        font-weight: bold;
    }
}
