@media screen and (max-width: 360px) {
    .btn-ingresar {
        width: 100%;
    }
    .btn-forgot{
          float:right;
    }
    h2 {
        font-weight: bold;
    }
    label {
        font-weight: bold;
    }
}
