* {
      font-family: "Open Sans", Arial, Helvetica, sans-serif;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Open Sans', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Comic Sans',
    monospace;
}

@font-face {
      font-family: 'Open Sans';
      src: local('Open Sans'), url(./fonts/OpenSans-Regular.ttf) format('truetype');
    }