@media screen and (max-width: 360px) {
      .icon {
            font-size: 25px;
            text-decoration: none;
      }
      .icon-twitter {
            color: #00c8f8;
      }
      .icon-instagram {
            color: #e93578;
      }
      .icon-facebook {
            color: #1464f6;
      }
}